.cntrOUT{
    display:inline-block;
    width:100%;
}
#controlDiv{
    clear: both;
    position: relative;
    width: 100%;
    display: none;
}
#controlDiv ul{
    margin:0;
    padding:0;
    list-style: none;
}
#controlDiv li{
    
}
#controlDiv input{
    float: none;
    width: 0;
      /* Double-sized Checkboxes */
    -ms-transform: scale(0.8); /* IE */
    -moz-transform: scale(0.8); /* FF */
    -webkit-transform: scale(0.8); /* Safari and Chrome */
    -o-transform: scale(0.8); /* Opera */
    margin: 0%;
    padding: 0;
    vertical-align: middle;
}
#controlDiv p{
    float:left;
    display: inline-block;
    font-size: 70%;
    margin: 0;
    padding: 1%;
    width: 25%;
}
#controlDiv div{
    text-align: left;
 
}
#controlDiv input[type=text]{
    background-color: lightgrey;
    width: 100%;
    border:0px solid;
    font-family: verdana;
    color:black;
    width:70%;
    float:right;
}

#infoPosition{

}
#infoPosition div{

}
#infoPosition p{
    width: 30%;
}
#infoPosition a{
    font-size: 65%
}
