#buildingMenuDiv{
	border-left:1px solid black;
	position: absolute;
	right: 0;
	top:7%;
	z-index: 10;

}
#buildingMenuDiv ul{
	list-style: none;
	margin:20px 0 0;
	padding: 0;
	text-align: left;
}
#buildingMenuDiv li{
	color:white;
	padding:5%;
}
#buildingMenuDiv ul li:hover{
	background-color: lightblue;
	cursor:context-menu;
}

#buildingContentDiv{
	position: absolute;
	width: 15%;
	top:7%;
	background-color: white;
	z-index: 10;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
#buildingContentDiv input[type=button]{
	float:left;
	font-family: verdana;
	font-size: 95%;
	margin:1%;

}