	button:focus {
    outline:none !important;
}

body {
	font-family: verdana;
	background-color: skyblue;
	overflow:auto;
	margin: 0;
	overflow: hidden;
	text-align: center;

}
canvas {
	display: block; /* fix necessary to remove space at bottom of canvas */
}
h2{
	background-color: #666666;
	color:white;
	margin:0;
	padding:0;
	font-weight: normal;
	font-size: 100%;
}
a {
 	font-family: verdana;
}
p { 
	font-family: verdana 
}
textarea {
   resize: none;
}
output{
	
}
.redbtn{
	background-color: rgba(200, 50, 50, 1);
	border: 0px solid grey; 	
}
.greenbtn{
	background-color: #00CC00;
/*	background-color: rgba(50,200,50,0.6); */
	border: 0px solid grey;
}
#glDIV{
    margin: 0;
    padding: 0;
    bottom:0;
    left:200px;
    position: fixed;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;

}

.onepix-imgloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

/*hide the second element in the loading container (first element is the leading img)*/
.loading-container > *:not(.onepix-imgloader) {
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:1;
}

.loading-container {
    position: absolute;
    width:100%;
    height: 100%;

}

#container {
/*    min-width: 400px;*/
	position: absolute;
    top: 60%;
    width:100%;
}
#container p{

}
#container progress[value]{
    display: block;
    height: 20px;
    margin-left: 20%;
    width: 60%;
}
progress:not([value]) {
    width: 60%;
 	height: 20px;
}

progress[value] {
	display: none;
    width: 60%;
 	height: 20px;
 	-webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;

        
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}


#buildID{
	text-align: left;
	font-size: 85%;
}


#Proposals-Body{
	z-index:10;
	display:none;
}



#preViewImg{
	height:110px;
	margin-top:0%;
}

#buttonAdddiv{
	width:100%;
	height: 12%;

}
#buttonAdddiv input{
	margin:2%;
}




#aDDInfo-Body{
	display: none;
}


#PropoName{

}
#PropoURL{

}
#PropoPrwViewURL{

}


#guiDiv{
	z-index: 15;
}



#addCityobjBody{
	background-color: #f8f8f8;
	border-left: 3px solid #e7e7e7;
	border-radius: 4px;
	bottom: 4%;
	color: #337ab7;
	height: 80%;
	left: 0;
	position: absolute;
	text-align: center;
	width: 17%;
	z-index: 10;
	padding: 2%;
	-webkit-box-shadow: 0px -6px 5px -5px inset;
	-moz-box-shadow: 0px -6px 5px -5px inset;
	box-shadow: 0px -6px 5px -5px inset;
	display: none;
}
#addCityobjBody h2{
	margin:0;
	padding:0;
}
#addCityobjBody textarea{
	font-size: 120%;
	height: 6%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
}
#addCityobjBody input{
	color: #337ab7;
	box-shadow: 0 0 4px -9px rgba(0, 0, 0, 0.8);
	display: block;
	font-size: 12px;
	height: 26px;
	width: 76%;
	margin-left: 12%;
	margin-top: 5%;
}
#dropCityTextures{
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	height: 32%;
	margin: 0;
	padding: 0;
}
#dropCityTextures select{
	height: 72%;
	overflow: auto;
	width: 100%;
}
#dropCityTextures option{
	height: 40%;
}
#dropCityTextures p{
	height: 10%;
	margin: 5%;
	padding: 0;
}
#addCityobjBody progress{
	bottom: 4%;
    left: 20%;
    position: absolute;
} 

#zoomBTN{
	float:left;
}