input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: -0.05px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #003caa;
  border-radius: 0px;
  border: 0px solid #010100;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  height: 20px;
  width: 38px;
  border-radius: 0px;
  background:  #ffcc00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1668ff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #003caa;
  border-radius: 0px;
  border: 0px solid #010100;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  height: 20px;
  width: 38px;
  border-radius: 0px;
  background: #ffcc00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00163f;
  border: 0px solid #010100;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #003caa;
  border: 0px solid #010100;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid #ff1e00;
  width: 38px;
  border-radius: 0px;
  background:  #ffcc00;
  cursor: pointer;
  height: 20px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #003caa;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1668ff;
}




